name: Deploy

on:
  workflow_dispatch:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v6
        with:
          python-version: '3.10' 
      - uses: abatilo/actions-poetry@v4
        with:
          poetry-version: 2.1.4

      - name: Install dependencies
        run: |
          poetry install --without dev
     - name: Deploy
        run: poetry run make deploy
