name: Deploy

on:
  workflow_dispatch:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
      - name: Install dependencies
        run: |
          python -m pip install poetry==2.1.4
          poetry install --no-dev
      - name: Baixar estatuto atualizado
        run: curl -sSfL https://raw.githubusercontent.com/apyb/estatuto/master/README.rst -o wiki/source/a-associacao/estatuto_content.rst
      - name: Deploy
        run: poetry run make deploy
