name: Deploy PR previews

on:
    pull_request:
        types:
            - opened
            - reopened
            - synchronize
            - closed

concurrency: 
    group: preview-${{ github.ref }}
    cancel-in-progress: true

jobs:
    deploy-preview:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: actions/setup-python@v5
           
            - name: Install dependencies and build
              if: github.event.action != 'closed'
              run: |
                python -m pip install poetry==2.1.4
                poetry install --without dev
                curl -sSfL https://raw.githubusercontent.com/apyb/estatuto/master/README.rst -o wiki/source/a-associacao/estatuto_content.rst
                poetry run make html

            - name: Deploy preview
              uses: rossjrw/pr-preview-action@v1
              with:
                source-dir: ./build/html/
