name: Deploy PR previews

on:
    pull_request:
        types:
            - opened
            - reopened
            - synchronize
            - closed

concurrency: 
    group: preview-${{ github.ref }}
    cancel-in-progress: true

jobs:
    deploy-preview:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: actions/setup-python@v6
              with:
                python-version: '3.10' 
            - uses: abatilo/actions-poetry@v4
              with:
                poetry-version: 2.1.4

            - name: Install dependencies
              run: poetry install --without dev
            - name: Baixar estatuto atualizado
              run: curl -sSfL https://raw.githubusercontent.com/apyb/estatuto/master/README.rst -o wiki/source/a-associacao/estatuto_content.rst
            - name: Deploy
              run: poetry run make deploy
            - name: Deploy preview
              uses: rossjrw/pr-preview-action@v1
              with:
                source-dir: ./build/html/
